.contactus .title {
    color: white;
    background-color: #0074B2;
    float: right;
    position: relative;
    top: -0.51em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.faq-seperator {
    margin-top: 5em;
    margin-bottom: 5em;
    border-width: 1px;
    border-color: #0074B2;
}

.contactus-typeform-container {
    margin-top: 5em;
}

/* Trying to hide typeform ugly scrollbar, this is the HTML5 way */
.contactus-typeform-container iframe{
    overflow: hidden;
}

.contactus-location-text {
    padding-top: 5em;
    padding-bottom: 2em;
    font-size: 18px;
}

.contactus-location-map {
    padding-bottom: 5em;
}

.contactus-location-text, .contactus-location-map {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}