.navbar-link-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.navbar-menu-items-ul {
    list-style-type: none;
    display: inline-block;
}

.navbar-menu-items-li {
    float: left;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 3em;
}