

.navbar-default .navbar-link {
    font-size: large;
    font-weight: bold;
    color: black;
    height: 100%;
    text-decoration: none;
}

.navbar-default .navbar-link:hover {
    color: #00bfff;
}