.contactus .title {
    color: white;
    background-color: #00bfff;
    float: right;
    position: relative;
    top: -0.51em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.faq-seperator {
    margin-top: 5em;
    margin-bottom: 5em;
    border-width: 1px;
    border-color: #00bfff;
}