.person-container {
    max-height: 20em;
    max-width: 27em;
    border: 0.2em;
    border-color: #0074B2;
    border-style: solid;
    border-radius: 1em;
}

.image {
    float: left;
    width: 10em;
    border: 0.2em;
    border-right-color: #0074B2;
    border-right-style: solid;
    border-bottom-color: #0074B2;
    border-bottom-style: solid;
    border-radius: 1em;
}

.name {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin-right: 0.5em;
    margin-left: 0.5m;
    height: 2.5em;
    display: flex;
    align-items: center;
}

.text {
    height: 3em;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    align-items: center;
}

.bottom-line {
    background-color: #0074B2;
    height: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
}