.video-grid-container {
  padding-top: 6em;
  padding-bottom: 6em;
}

.video-grid-center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
    .video-grid-container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .video-grid-center-content {
        padding-top: 3em;
        padding-bottom: 3em;
    }
}