.video-grid-item-container {
  width: 23em;
}

.video-grid-item-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-grid-item-img-container {
  
}

.video-grid-item-play-icon-container {
  position: relative;
}

.video-grid-item-play-icon-img {
  width: 15em;
}

.video-grid-item-text-container {
  margin-top: 3em;
  text-align: left;
}

.video-grid-item-main-text {
  font-weight: 900;
}

.video-grid-item-subtitle-text {
  font-weight: 700;
}

.video-grid-item-img {
  width: 327px;
  height: 181px;
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
}