.primary-bg-color {
  background: white;
}

.secondary-bg-color {
  background: #00bfff;
}

.primary-text-color {
  color: #00bfff;
}

.secondary-text-color {
  color: white;
}

.primary-font-family {
  font-family: 'Quicksand', sans-serif;
}

.secondary-font-family {
  font-family: 'Open Sans Condensed', sans-serif;
}

.bold {
  font-weight: bold;
}

.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 3em;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #00bfff;
    font-size: x-large;
    padding: 1em;
}

input[type=submit] {
    font-size: x-large;
    font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
