.statistics-container {
    padding-top: 5em;
    padding-bottom: 5em;
}

.statistics-circle-padding {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .statistics-container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .statistics-circle-padding {
        display: flex;
        justify-content: center;
        padding-top: 2.5em;
        padding-bottom: 2.5em;
    }
}