.partners-pager-image {
  width: 10vw;
  margin: auto;
}

.partners-pager {
  min-height: 0;
  min-width: 0;
  max-width: 50em;
  max-height: 15em;
}

.partners-pager-container {
  display: flex;
  align-items: center;
  justify-content: center;
}