.partners-pager-image {
  width: 15vw;
  max-height: 10em;
  margin: auto;
}

.partners-pager {
  max-width: 70em;
  max-height: 15em;
}

.partners-pager-container {
  display: flex;
  align-items: center;
  justify-content: center;
}