.team2-ul {
  list-style-type: none;
}

.team2-li {
  float: left;
}

.team2-container {
  margin-top: 7.25em;
}

.team2-title {
    color: white;
    background-color: #0074B2;
    float: right;
    position: relative;
    top: -0.51em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.team2-members-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}