.theprogram-container {
  padding-top: 4em;
}

.theprogram-title {
  margin-bottom: 1em;
  text-align: left;
}

@media screen and (max-width: 800px) {
  .theprogram-boxes-col {
    margin-bottom: 4em;
  }
  .theprogram-title {
    margin-bottom: 1em;
  }
}