.video-overlay-text {
  background: rgba(0,0,0,0.1);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.video-container {
  position: relative;
}

.video-read-more {
  margin-top: 13%;
}

@media screen and (max-width: 800px) {
  .video-container h1 {
    font-size: 3em;
  }
  .video-container h2 {
    font-size: 1.5em;
  }
  .video-container h3 {
    font-size: 0.75em;
  }
  .video-container h4 {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 1200px) {
  .video-read-more {
    margin-top: 5%;
  }
}